.idea/
node_modules/
dist/
build/
!build/license_en.txt
*.history
data.lnlist
~/.lnd/*
.lnd/*
log.log
wallet-certs/
executable/
settings.local.ini
settings.peach.local.json
test/e2e/test_data/*
.DS_Store
*.testBackup
.nyc_output/
coverage/
rpc.cert
runlnd.sh
settings.mainnet.ini
settings.mainnet.peach.json
