.tab {
    &-link {
        cursor: pointer;
        transition: color $default-transition, border-color $default-transition;
        position: relative;
        font-size: 16px;
        line-height: 1.13;
        color: $black;
        text-transform: uppercase;
        margin: 0 25px;
        padding-bottom: 6px;
        border-bottom: 2px solid transparent;

        &-active {
            border-bottom-color: $yellow;
            font-weight: inherit !important;
        }

        &:hover:not(.tab-link__no-hover) {
            color: $yellow;
            font-weight: inherit !important;
            outline: none;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }
}

.tabs {
    &__row {
        margin-left: -25px;
        margin-right: -25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
