.tab {

    &-link {
        cursor: pointer;
        transition: color .2s, border-color .2s;
        text-align: center;
        float: left;
        position: relative;
        font-size: 16px;
        line-height: 1.13;
        color: $black;
        text-transform: uppercase;
        margin: 0 25px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-bottom: 2px solid transparent;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &-active {
            color: $yellow;
            border-bottom-color: $yellow;
            font-weight: inherit !important;
        }

        &:hover:not(.tab-link__no-hover),
        &:focus {
            color: $yellow;
            font-weight: inherit !important;
        }
    }
}
