@font-face {
    font-family: "BioSans";
    src: url("../fonts/biosans/biosans-extralight.otf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "BioSans";
    src: url("../fonts/biosans/biosans-light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BioSans";
    src: url("../fonts/biosans/biosans-regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BioSans";
    src: url("../fonts/biosans/biosans-semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "BioSans";
    src: url("../fonts/biosans/biosans-bold.otf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "BioSans";
    src: url("../fonts/biosans/biosans-extrabold.otf");
    font-weight: 900;
    font-style: normal;
}
