* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html,
body {
    font-size: 14px;
    line-height: 24px;
    font-family: $Biosans;
    letter-spacing: normal;
}

a, button, input, optgroup, select, textarea {
    font-family: $Biosans;
    outline: none;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:required {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    &[disabled] {
        cursor: default;
    }
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
}

.disabled,
[disabled] {
    opacity: 0.3;
}

::-webkit-input-placeholder {
    opacity: 0.5;
}
