.container {
  width: 100%;
  max-width: 980px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  &-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.center {
  &-content {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;

  &--no-col {
    margin-left: 0;
    margin-right: 0;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.column {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.nowrap {
  flex-wrap: nowrap;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-clear {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.justify-start-xs {
  justify-content: flex-start;
  text-align: left;
}

.justify-center-xs {
  justify-content: center;
  text-align: center;
}

.justify-end-xs {
  justify-content: flex-end;
  text-align: right;
}

.align-start-xs {
  align-items: flex-start;
}

.align-center-xs {
  align-items: center;
}

.align-end-xs {
  align-items: flex-end;
}

.justify-around-xs {
  justify-content: space-around;
}

.justify-between-xs {
  justify-content: space-between;
}

.order-0-xs {
  order: 0;
}

.order-1-xs {
  order: 1;
}

@media (min-width: $phone-width) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-clear {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .justify-start-sm {
    justify-content: flex-start;
    text-align: left;
  }

  .justify-center-sm {
    justify-content: center;
    text-align: center;
  }

  .justify-end-sm {
    justify-content: flex-end;
    text-align: right;
  }

  .align-start-sm {
    align-items: flex-start;
  }

  .align-center-sm {
    align-items: center;
  }

  .align-end-sm {
    align-items: flex-end;
  }

  .justify-around-sm {
    justify-content: space-around;
  }

  .justify-between-sm {
    justify-content: space-between;
  }

  .order-0-sm {
    order: 0;
  }

  .order-1-sm {
    order: 1;
  }
}

@media (min-width: $phablet-width) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-clear {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .justify-start-md {
    justify-content: flex-start;
    text-align: left;
  }

  .justify-center-md {
    justify-content: center;
    text-align: center;
  }

  .justify-end-md {
    justify-content: flex-end;
    text-align: right;
  }

  .align-start-md {
    align-items: flex-start;
  }

  .align-center-md {
    align-items: center;
  }

  .align-end-md {
    align-items: flex-end;
  }

  .justify-around-md {
    justify-content: space-around;
  }

  .justify-between-md {
    justify-content: space-between;
  }

  .order-0-md {
    order: 0;
  }

  .order-1-md {
    order: 1;
  }
}

@media (min-width: $tablet-width) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xs-offset-clear {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

  .justify-start-lg {
    justify-content: flex-start;
    text-align: left;
  }

  .justify-center-lg {
    justify-content: center;
    text-align: center;
  }

  .justify-end-lg {
    justify-content: flex-end;
    text-align: right;
  }

  .align-start-lg {
    align-items: flex-start;
  }

  .align-center-lg {
    align-items: center;
  }

  .align-end-lg {
    align-items: flex-end;
  }

  .justify-around-lg {
    justify-content: space-around;
  }

  .justify-between-lg {
    justify-content: space-between;
  }

  .order-0-lg {
    order: 0;
  }

  .order-1-lg {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xl-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-xl-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-xl-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-xl-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-xl-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xl-offset-clear {
    margin-left: 0;
  }

  .col-xl-offset-1 {
    margin-left: 8.333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.667%;
  }

  .justify-start-xl {
    justify-content: flex-start;
    text-align: left;
  }

  .justify-center-xl {
    justify-content: center;
    text-align: center;
  }

  .justify-end-xl {
    justify-content: flex-end;
    text-align: right;
  }

  .align-start-xl {
    align-items: flex-start;
  }

  .align-center-xl {
    align-items: center;
  }

  .align-end-xl {
    align-items: flex-end;
  }

  .justify-around-xl {
    justify-content: space-around;
  }

  .justify-between-xl {
    justify-content: space-between;
  }

  .order-0-xl {
    order: 0;
  }

  .order-1-xl {
    order: 1;
  }
}
