$Biosans: "Biosans";

$yellow: #ffb700;
$yellow10: transparentize($yellow, .9);
$yellow-dim: #f1ad00;
$yellow-bright: #ffca43;

$black: #000000;
$black10: transparentize($black, .9);
$black30: transparentize($black, .7);

$white: #ffffff;

$red: #d0021b;
$red10: transparentize($red, .9);
$red-bright: #e6485c;

$grey: #aaaaaa;
$grey30: transparentize($grey, .7);
$grey50: transparentize($grey, .5);

$green: #7ed321;

$pumpkin-orange: #ff7700;
$warm-grey: #9b9b9b;
$warm-grey-5: rgba(111, 111, 111, 0.05);
$greyish-50: rgba(181, 181, 181, 0.5);
$cornflower: #7259fe;
$lightblue: #4a90e2;
$apple-green: #7ed321;
$scarlet: #d0021b;
$pastel-orange: #ff9b44;
$orange: #f17203;
$scarlet-two: #bc0017;
$darkish-pink: #e6485c;

$light-grey: #f4f4f4;

$default-transition: .3s ease-in-out;

$border-radius: 4px;
$border-radius-sm: 2px;

$phone-width: 480px;
$phablet-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;
