.channels-page {
    .empty-placeholder {
        background: url(../images/placeholder-channels.svg) no-repeat center top;
        font-size: 16px;
        line-height: 1.13;
        padding-top: 87px;
        text-align: center;
        margin-top: 170px;
    }

    .placeholder_text {
        text-transform: uppercase;
    }

    .container {
        margin-top: 10px;
        position: relative;
    }
}

.channel {
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out;
    margin: 0 -20px;
    padding: 30px 20px;

    &__active:hover:not(.channel__pending),
    &__not-active:hover:not(.channel__pending) {
        background-color: $yellow10;
        box-shadow: 1px 1px 10px 0 $yellow10;
        cursor: pointer;

        .channel__button {
            z-index: 1;
            opacity: 1;
        }
    }

    &__not-active:hover:not(.channel__pending) {
        background-color: transparent;
        cursor: default;
        box-shadow: none;
    }

    &__not-active {
        cursor: default;

        .channel__progress[value]::-webkit-progress-value {
            background-color: $grey-light;
        }
    }

    &__deleting {
        opacity: .5;

        &:hover:not(.channel__pending) {
            cursor: default;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.125;
        color: $black;
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        white-space: pre;
    }

    &__firstname {
        padding-right: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__subname {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-flex;

        span {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__button {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        opacity: 0;
        z-index: -10;
        position: relative;
        transition: opacity .3s ease-in-out;
        padding-top: 5px;
        border: 0;
        background: transparent;
        cursor: pointer;
        margin: -2px -5px 0 auto;

        &:hover,
        &:active {
            z-index: 1;
            opacity: 1;
            text-decoration: underline;
        }

        &--edit {
            margin-right: 0;
        }
    }

    &__close {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        opacity: 0;
        z-index: -10;
        position: relative;
        transition: opacity .3s ease-in-out;
        padding-top: 5px;
        border: 0;
        background: transparent;
        cursor: pointer;
        margin: -2px -5px 0 auto;

        &:hover,
        &:active {
            z-index: 1;
            opacity: 1;
            text-decoration: underline;
        }
    }

    &__progress {
        margin: 20px 0;
        height: 10px;
        width: 100%;

        &[value] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &::-webkit-progress-bar {
                background: $black30;
                border-radius: $border-radius;
            }

            &::-webkit-progress-value {
                background-color: $green;
                border-radius: $border-radius;
            }
        }
    }

    &__line {
        margin: 21px 0 20px;
        height: 10px;
        width: 100%;

        .confirmation__cell {
            background: $black30;

            &--active {
                background: $yellow;
            }

            &--last {
                background: $yellow30;

                &:after {
                    content: "";
                    width: 50%;
                    height: 100%;
                    background: $yellow;
                    animation: channel-opening 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                    transform: translateX(0);
                    border-radius: $border-radius;
                    display: block;
                }
            }
        }

        &--awaiting {
            border-radius: $border-radius;
            background: repeating-linear-gradient(
                            -60deg,
                            transparent 0px,
                            transparent 50px,
                            $yellow 75px,
                            $yellow 85px,
                            transparent 110px,
            );
            background-color: $yellow30;
            background-size: 120% 100%;
            width: 100%;
            animation: movingStripe 1.2s linear infinite;
        }

        & > div {
            height: 10px;
            float: left;
        }

        .channel__loader {
            width: calc(16.66% - 1px);
            border-radius: $border-radius;
            background-color: $black30;
            margin-right: 1px;
            position: relative;
            overflow: hidden;

            &:before {
                content: "";
                display: block;
                background-color: $green;
                border-radius: 4px;
                height: 100%;
                right: 100%;
                position: absolute;
                width: 100%;
            }

            &:nth-child(1):before {
                animation: loader 16s 0s infinite;
            }

            &:nth-child(2):before {
                animation: loader 19s 3s infinite;
            }

            &:nth-child(3):before {
                animation: loader 22s 6s infinite;
            }

            &:nth-child(4):before {
                animation: loader 25s 9s infinite;
            }

            &:nth-child(5):before {
                animation: loader 28s 11s infinite;
            }

            &:nth-child(6):before {
                animation: loader 31s 14s infinite;
            }
        }

        .channel__opened {
            background-color: $yellow;
        }
    }

    &__bottom {
        display: flex;
        font-size: 14px;
        line-height: 1;
        color: $black;
    }

    &__text {
        &--balance {
            font-weight: bold;
        }
        &--receive {
            margin-left: auto;
        }
        &--opening {
            color: $yellow;
        }
        &--warning {
            color: $black30;
            margin: 0 auto;
        }
    }
}

.channel-close__text {
    font-size: 16px;
    line-height: 1.56;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes loader {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(100%);
    }
    80%, 100% {
        transform: translateX(100%);
    }
}

@keyframes channel-opening {
    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.channels {
    &__create-actions {
        display: flex;

        .placeholder_text {
            max-width: 333px;
        }
    }

    &__create-buttons {
        margin-left: auto;
        padding-left: 20px;
        display: inline-flex;
    }
}

@media screen and (max-width: 1029px) {
    .overlay__create {
        .overlay__tooltip {
            transform: translateX(-60%);
        }
    }
}

@media screen and (max-width: 760px) {
    .channels-page {
        .channel {
            padding: 20px 20px 40px;
        }
    }
}

@media screen and (max-width: 525px) {
    .overlay__create {
        top: -71px;
    }
}

@media screen and (max-width: 505px) {
    .channels {
        &__create-actions {
            flex-direction: row;
        }
        &__create-buttons {
            margin: 20px auto 0;
            padding-left: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .channels-page {
        .channel {
            padding: 20px;

            &__bottom {
                flex-direction: column;
            }

            &__text {

                &--balance {
                    float: none;
                }

                &--receive {
                    text-align: left !important;
                    padding-top: 10px;
                    width: 100%;
                }
            }
        }
    }
}

@keyframes movingStripe {
    0% {
        background-position: -125px 0;
    }
    100% {
        background-position: 0 0;
    }
}
