.datepicker {

  &__input {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1;
  }

  &__controls {
    padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
