.header {
    background: $black;
    box-shadow: 0 2px 4px 0 $grey50;
    position: relative;

    &__row {
        height: 80px;
    }

    .logo {
        background: url(../images/logo.svg) no-repeat left center;
        background-size: contain;
        display: inline-block;
        height: 46px;
        width: 200px;
        position: relative;
        top: 2px;

        &:after {
            content: "lnd not synced";
            display: block;
            position: absolute;
            right: 0;
            bottom: -10px;
            color: $scarlet;
            text-transform: uppercase;
            font-size: 12px;
            white-space: nowrap;
            opacity: 0;
            transition: opacity .2s ease-in;
        }

        &--unsynced {
            background-image: url(./../images/logo-error.svg);
            &:after {
                opacity: 1;
            }
        }
    }

    .header-pagename {
        display: none;
    }

    .nav {
        overflow: hidden;
        position: relative;
        margin-left: -10px;
        margin-right: -10px;

        .burger {
            display: none;
        }

        &__link {
            white-space: nowrap;
            font-size: 16px;
            color: $white;
            line-height: 1;
            text-transform: uppercase;
            text-decoration: none;
            vertical-align: middle;
            transition: font-weight $default-transition, color $default-transition;
            text-align: right;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;

            &.active,
            &:hover,
            &:focus {
                color: $yellow;
            }

            &--profile {
                text-transform: capitalize;
            }
        }

        .separator {
            display: inline-block;
            width: 1px;
            background: transparentize($white, .7);
            height: 18px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 990px) {
    .header {
        .nav {
            flex-direction: column;
            width: 60px;
            background: $black;
            z-index: 7;
            max-height: 60px;
            transition: max-height .3s ease-in-out, width .3s ease-in-out;
            position: absolute;
            right: 0;
            top: 0;
            padding-top: 30px;
            margin-right: -8px;

            &--open {
                box-shadow: 0 2px 4px 0 rgba(45, 45, 45, 0.5);
                max-height: 375px;
                width: 241px;

            }

            &__link {
                line-height: 1;
                text-align: center;
                width: 100%;
                padding: 16px 0;
                position: relative;

                &:after {
                    content: "";
                    height: 1px;
                    width: calc(100% - 20px);
                    position: absolute;
                    display: block;
                    right: 0;
                    background: rgba(255, 255, 255, .2);
                    bottom: -2px;
                }

                &:last-child:after {
                    content: initial;
                }

                &:first-child {
                    padding-top: 7px;
                }

                &--profile {
                    border-bottom: 0;
                    padding-bottom: 26px;
                    padding-top: 21px;
                    margin-left: 0;
                }

                & + .nav__link {
                    margin-left: 0;
                }
            }

            .separator {
                display: none;
            }

            .burger {
                position: relative;
                width: 26px;
                height: 19px;
                cursor: pointer;
                display: block;
                padding-bottom: 30px;
                margin-left: auto;
                margin-right: 20px;

                span {
                    display: block;
                    position: absolute;
                    height: 3px;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    background: #fff;
                    width: 100%;

                    &:nth-child(1) {
                        top: 0;
                        transform-origin: left center;
                    }

                    &:nth-child(2) {
                        top: 8px;
                        transform-origin: left center;
                    }

                    &:nth-child(3) {
                        top: 16px;
                        transform-origin: left center;
                    }
                }

                &__open {
                    span {
                        height: 2px;

                        &:nth-child(1) {
                            top: -2px;
                            width: 34px;
                            transform: rotate(45deg);
                        }

                        &:nth-child(2) {
                            width: 0;
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg);
                            width: 34px;
                            top: 22px;
                        }
                    }
                }
            }
        }
    }
}
