.history {
    &__title {
        font-size: 16px;
        line-height: 1.13;
        margin-top: 57px;
        margin-bottom: 24px;
        text-transform: uppercase;
        letter-spacing: -0.5px;
    }

    .separator {
        margin-top: 21px;
        margin-bottom: 22px;
    }

    .placeholder_text {
        font-size: 12px;
        letter-spacing: -0.4px;
    }
}
