.home {
    height: 100vh;
    background: #fff;

    &__sync-text {
        text-align: center;
        padding-top: 52px;
        font-size: 12px;
    }

    &__container {
        width: 380px;
        top: 130px;
        position: relative;
        max-width: 100%;
        transition: top .2s ease-in-out;
    }

    &__logo {
        text-align: center;
        margin-bottom: 46px;

        & img {
            width: 200px;
            display: block;
            margin: 0 auto;
            z-index: 1;
            position: relative;
            max-width: 100%;
        }
    }

    &__title {
        font-size: 22px;
        line-height: 1.5;
        color: #000;
        margin: 0 -150px 26px;
        text-align: center;
        font-weight: bold;
    }

    &__restore {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;

        &-block {
            position: relative;
            margin-right: 30px;
        }

        .button {
            height: 24px;
            line-height: 24px;
        }
    }

    &__logout {
        display: flex;
        justify-content: flex-end;

        &-button {
            margin-top: 6px;
            font-size: 13px;
            background-size: 20px 20px;
        }
    }


    .form-text,
    .form-textarea {
        background-color: transparent;
    }

    .signup {
        margin-top: 7px;
        font-size: 12px;
        line-height: 1.33;

        &__link {
            padding-left: 4px;
        }
    }

    .spinner__wrapper {
        .spinner {
            position: absolute;
            top: 7px;
            right: 25px;
        }
    }

    .seed__reload {
        position: absolute;
        bottom: 10px;
        right: 25px;
    }
}

.h-sync {
    margin-top: 40px;

    &__percent {
        font-size: 14px;
        font-weight: bold;
        color: $black;
        line-height: 1;
    }

    &__progress {
        width: calc(100% + 32px);
        margin: 10px -16px;
        height: 10px;

        &[value] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &::-webkit-progress-bar {
                background: transparentize(#000, .7);
                border-radius: $border-radius;
            }

            &::-webkit-progress-value {
                background-color: $green;
                border-radius: $border-radius;
                transition: width .4s ease-in-out;
            }
        }
    }

    &__text {
        font-size: 12px;
        color: transparentize($black, .7);
        line-height: 1;
        margin-top: 10px;
    }
}

@media screen and (max-width: 575px) {
    .home {
        &__title {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 360px) {
    .home {
        &__container {
            top: 60px;
        }

        &__restore {
            align-items: center;
        }
    }
}
