.lightning {
    .container {
        padding-top: 37px;
    }

    .send {
        padding-top: 23px;

        &.narrow {
            width: 420px;
            max-width: 100%;
        }

        .connected-field {

            & > :not(:last-child) {
                padding-right: 0;

                .connected-field__input,
                .Select-control {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border: 1px solid rgba(74,74,74,0.3);
                    border-right: 0;
                }
            }

            & > :not(:first-child) {
                padding-left: 0;

                .connected-field__input,
                .Select-control {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    border: 1px solid rgba(74,74,74,0.3);
                    border-left: 1px dashed rgba(74,74,74,0.3);
                }
            }

            &--filled {
                & > :not(:last-child) {

                    .connected-field__input,
                    .Select-control {
                        border: 1px solid $black;
                        border-right: 0;
                    }
                }

                & > :not(:first-child) {
                    padding-left: 0;

                    .connected-field__input,
                    .Select-control {
                        border: 1px solid $black;
                        border-left: 1px dashed $black;
                    }
                }
            }
        }
    }

    .tabs {
        &__wrapper {
            min-height: 27px;
        }
        &__container {
            transition: right .2s ease-in-out, margin .2s ease-in-out;
            max-width: 374px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &--end {
                justify-content: flex-end;
            }

            &:after {
                content: "";
                clear: both;
                display: inline-block;
            }
        }
    }

    .tab-content {
        position: relative;
    }

    .start,
    .pause,
    .stop {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: contain;
        cursor: pointer;
        margin-left: 9px;
        float: left;
    }

    .start {
        background: url(../images/play.svg) no-repeat center;
        margin-left: -3px;
    }

    .pause {
        background: url(../images/pause.svg) no-repeat center;
    }

    .stop {
        background: url(../images/stop.svg) no-repeat center;
    }

    .stream {
        &__disabled {
            position: absolute;
            top: 0;
            display: flex;
            width: 420px;
            max-width: 100%;
            height: 100%;
            align-items: center;
            font-size: 18px;
            text-align: center;
            justify-content: center;
        }

        &__form {
            position: relative;

            &--disabled {
                opacity: .3;
                pointer-events: none;
            }
        }
    }
}
