.lightning {
    .container {
        padding-top: 37px;
    }

    .connected-field {

        & > :not(:last-child) {
            padding-right: 0;

            .connected-field__input,
            .Select-control {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border: 1px solid rgba(74,74,74,0.3);
                border-right: 0;
            }
        }

        & > :not(:first-child) {
            padding-left: 0;

            .connected-field__input,
            .Select-control {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border: 1px solid rgba(74,74,74,0.3);
                border-left: 1px dashed rgba(74,74,74,0.3);
            }
        }

        .connected-field__input,
        .Select-control {
            &:disabled {
                opacity: 1;
                color: transparentize($black, 0.7);
            }
        }

        &--filled {
            & > :not(:last-child) {

                .connected-field__input,
                .Select-control {
                    border: 1px solid $black;
                    border-right: 0;
                }
            }

            & > :not(:first-child) {
                padding-left: 0;

                .connected-field__input,
                .Select-control {
                    border: 1px solid $black;
                    border-left: 1px dashed $black;
                }
            }
        }

        &--disabled {
            opacity: 0.3;

            .connected-field__input,
            .Select-control {
                &:disabled {
                    opacity: 1;
                    color: $black;
                }
            }
        }
    }

    .tabs {
        &__wrapper {
            min-height: 27px;
        }
        &__container {
            transition: right .2s ease-in-out, margin .2s ease-in-out;
            max-width: 350px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &--end {
                justify-content: flex-end;
            }

            &:after {
                content: "";
                clear: both;
                display: inline-block;
            }
        }
    }

    .tab-content {
        position: relative;
    }

    .start,
    .pause,
    .stop {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-size: contain;
        cursor: pointer;
        margin-left: 9px;
        float: left;
    }

    .start {
        background: url(../images/play.svg) no-repeat center;
        margin-left: -3px;
    }

    .pause {
        background: url(../images/pause.svg) no-repeat center;
    }

    .stop {
        background: url(../images/stop.svg) no-repeat center;
    }

    .stream {
        &__disabled {
            position: absolute;
            top: 0;
            display: flex;
            width: 100%;
            max-width: 100%;
            height: 100%;
            align-items: center;
            font-size: 18px;
            text-align: center;
            justify-content: center;
            opacity: 0.7;

            span {
                padding-top: 32px;
                text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
            }
        }

        &__form {
            position: relative;

            &--disabled {
                pointer-events: none;
                position: relative;

                & > *:not(.stream__disabled) {
                    opacity: 0.3;
                }
            }
        }

        &__actions {
            position: absolute;
            right: 0;
            padding: 10px 10px 10px 28px;
            margin-top: -26px;
            background: transparent;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            z-index: 1;
        }
    }

    .ReactTable {
        .rt-tbody {
            .rt-tr:not(.-padRow):hover {
                .stream__actions {
                    opacity: 1;
                    pointer-events: all;
                    font-size: 12px;
                    background:
                            linear-gradient(to right, transparent 0%, $yellow10 20%, $yellow10 100%),
                            linear-gradient(to right, transparent 0%, $white 20%, $white 100%);
                }
            }
        }
    }
}
