.list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &--disc {
    .list {
      &__item {
        padding-left: 20px;
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 8px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $yellow;
        }
      }
    }
  }
}
