.merchants {
    padding-top: 37px;

    .empty-placeholder {
        background: url(./../images/address-book.svg) no-repeat center top;
        font-size: 16px;
        line-height: 1.13;
        padding-top: 118px;
        text-align: center;
        margin-top: 150px;
    }

    &__header {
        margin-bottom: 32px;
        font-size: 20px;
        text-transform: uppercase;
        color: $pumpkin-orange;
    }

    &__content {
        padding-top: 24px;
    }

    &__item {
        display: flex;
        padding: 12px;
        background: rgba(245, 166, 35, 0.1);
        margin-bottom: 16px;
    }

    &__logo {
        width: 60px;
        flex-shrink: 0;

        &-img {
            width: 100%;
            height: auto;
        }
    }

    &__body {
        margin-left: 16px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;

        &--name {
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 3px;
        }

        &--channel-info {
            padding-top: 12px;
            padding-bottom: 3px;
        }
    }

    &__label {
        width: 116px;
        font-weight: bold;
    }

    &__link {
        line-height: inherit;
        height: inherit;
        font-size: 14px;
    }
}
