.modal {
    width: 660px;
    max-width: 100%;
    z-index: 5;
    position: relative;
    border-radius: $border-radius;
    background: $white;
    padding: 50px;
    outline: none;

    .spinner {
        position: absolute;
        top: 17px;
        right: 17px;
    }

    &__wrapper {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 160px 20px 60px;
    }

    &__layout {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100vh;
        background: $black30;
    }

    &__close {
        background: none;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        font-size: 0;
        border: 0;
        position: absolute;

        &:hover {
            cursor: pointer;
        }

        &:before,
        &:after {
            content: '';
            height: 25px;
            width: 2px;
            display: block;
            background: $grey-light;
            left: 45%;
            top: -12%;
            position: absolute;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &--payment_result {
        width: 334px;
        padding: 50px;

        &-success {
            padding-bottom: 60px;
            background: transparent url(../images/rectangle.svg) no-repeat center bottom;
            box-shadow: 0 -3px 4px 0 rgba(176, 176, 176, 0.5);

            .modal {
                &__icon {
                    background: url(../images/success.svg) no-repeat center top;
                    background-size: 68px 68px;
                    height: 68px;
                }
            }
        }

        &-error {
            width: 368px;
        }
    }

    &__header {
        & + .modal__body {
            padding-top: 40px;
        }
    }

    &__footer {
        padding-top: 30px;
    }

    &--wide {
        width: 740px;
    }

    &--wallet-mode {
        width: 780px;
    }

    &--error {

        .modal-header {
            color: $red;
        }
    }
}

.modal-transition {
    &-enter {
        .modal {
            transform: scale(.3);
            opacity: 0;
        }

        &.modal-transition-enter-active .modal {
            transform: scale(1);
            opacity: 1;
            transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        }
    }

    &-leave {
        .modal {
            transform: scale(1);
            opacity: 1;
        }

        &.modal-transition-leave-active .modal {
            transform: scale(.3);
            opacity: 0;
            transition: transform .2s ease-in-out, opacity .2s ease-in-out;
        }
    }
}

.payment_result {
    &--success {

    }

    &__icon {
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 0.75;
        color: $yellow;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &__btn-row {
        padding-top: 25px;
        text-align: center;
    }

    &__info {
        line-height: 1;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-letter {
            text-transform: uppercase;
        }

        &:first-child {
            padding-top: 0;
        }

        &--error {
            max-height: 62px;
            text-overflow: ellipsis;
        }

        &--helper {
            margin-top: 20px;
            line-height: 1.2;

            .helper {
                &__header {
                    color: $yellow;
                }

                &__list {
                    margin-top: 5px;
                    -webkit-padding-start: 20px;
                }
            }
        }
    }
}
