.picker {
  &__target {
    padding: 0 10px 0 40px;
    width: 130px;

    &.button {
      text-transform: none;
    }

    &--time {
      background: url(../images/time.svg) no-repeat 11px 9px;
      background-size: 20px 20px;
    }

    &--price {
      background: url(../images/price.svg) no-repeat 11px 9px;
      background-size: 20px 20px;
    }

    &--date {
      background: url(../images/calendar.svg) no-repeat 11px 9px;
      background-size: 20px 20px;
    }

    &--fill {
      line-height: 13px;
      padding-top: 3px;
      font-size: 12px;

      span {
        overflow: hidden;
        display: inline-block;
        width: 78px;
        text-overflow: ellipsis;
      }
    }
  }

  &__collapse {
    background-color: $white;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }

  &__row {
    @extend .row;
    padding-left: 24px;
    padding-right: 24px;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;

    &--controls {
      padding: 0 24px;

      .button {
        text-transform: uppercase;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    &--end {
      justify-content: flex-end;
      padding-top: 10px;

      .button {
        text-transform: uppercase;
        line-height: 30px;
        height: 30px;
        color: rgba(0, 0, 0, 0.6);

        &.active {
          color: $yellow;
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  &__group {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &--vertical {
      flex-direction: column;
      height: 40px;
      margin-left: 12px;
      justify-content: space-between;

      .button {
        text-transform: uppercase;
        height: 16px;
        line-height: 16px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.6);

        &.active {
          color: $yellow;
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      .button +.button {
        margin-left: 0;
      }
    }
  }

  &__label {
    font-weight: 600;
    width: 40px;
    font-size: 12px;
  }

  &__text {
    &--xl {
      font-size: 52px;
      line-height: 1;
    }
  }

  .form-text {
    font-size: 52px;
    line-height: 38px;
    height: 38px;
    width: 74px;
    padding: 0;
    border: none;

    &--right {
      text-align: right;
    }

    &--long {
      width: 190px;
      font-size: 46px;
      height: 34px;
      line-height: 34px;
    }
  }
}
