.profile {
    &__block {
        padding: 40px 0 40px 60px;
        border-bottom: 1px solid $grey50;

        .Select.has-value .Select-control{
            border: 1px solid $grey30;
        }
    }

    &__title {
        @extend .block-title;
        margin-left: -60px;
        padding-left: 60px;

        &--username {
            background: url(../images/icons/wallet.svg) no-repeat center left;
            background-size: 30px 30px;
        }

        &--pay_req {
            background: url(../images/payment-request.svg) no-repeat center left;
            background-size: 30px 30px;
        }

        &--settings {
            background: url(../images/settings.svg) no-repeat center left;
            background-size: 30px 30px;
        }
    }

    &__row {
        @extend .row;
        padding-top: 20px;
    }

    &__line {
        @extend .row;
        @extend .row--no-col;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    &__label {
        width: 180px;
        flex: 0 0 180px;
        font-weight: bold;
        padding-right: 10px;

        &--normal {
            font-weight: normal;
        }
    }

    &__value {
        @extend .row;
        @extend .row--no-col;
        margin: 0;
        flex: 1 1 auto;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-width: calc(100% - 180px);

        &_ellipsis {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_utils {
            margin-left: 10px;
            @extend .center-content;

            span + span {
                margin-left: 20px;
            }
        }
    }

    &__app-status {
        font-size: 14px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        white-space: normal;
        line-height: 20px;
        text-align: left;

        &.button + .button {
            margin-left: 0;
        }
    }

    &__switcher {
        margin-top: 8px;
    }

    .placeholder_text {
        color: $black10;
    }
}

@media screen and (max-width: $phablet-width) {
    .profile {
        &__line {
            flex-wrap: wrap;
        }

        &__label {
            width: 100%;
            flex-basis: 100%;
        }

        &__value {
            max-width: 100%;
        }
    }
}
