.profile {
    &__block {
        margin-top: 30px;
        box-shadow: 0 3px 6px 0 #e5e5e5;
        padding: 18px 30px 27px 20px;

        .form-row {
            margin-top: 10px;
        }

        &:nth-child(2) {
            padding-bottom: 29px;
        }

        &:last-child {
            padding-bottom: 20px;
        }

        .Select.has-value .Select-control{
            border: 1px solid rgba(74, 74, 74, 0.3);
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.13;
        color: $pumpkin-orange;
        padding-bottom: 15px;

        img {
            margin-right: 10px;
        }
    }

    &__row {
        padding-top: 14px;
        padding-bottom: 11px;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.1px;

        &--top-double {
            padding-top: 31px;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &--wrap {
            .profile {
                &__flex {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }

    &__flex {
        display: flex;
    }

    &__utils_btns {
        float: right;

        span + span {
            margin-left: 20px;
        }
    }

    &__label {
        width: 192px;
    }

    &__value {
        margin: 0;
        letter-spacing: 0.2px;
        flex: 1;
        display: inline-flex;

        &_value {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
        }
    }

    &__app-status {
        font-size: 14px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        white-space: normal;
        line-height: 20px;
        text-align: left;

        &.button + .button {
            margin-left: 0;
        }
    }

    &__switcher {
        margin-top: 8px;
    }

    .pay_req {
        &__row {
            position: relative;
        }

        &__label {
            padding-right: 20px;
        }

        &__value {
            padding-right: 25px;
            line-height: 1.1;
            display: block;
        }

        &__button {
            position: absolute;
            right: 20px;
            top: 0;
        }
    }

    #pay_req_amount {
        width: 140px;
        margin-right: 10px;
    }

    .placeholder_text {
        color: rgba(00, 00, 00, .1);
    }

    .Select {
        width: 140px;
    }

    .Select-control {
        height: 40px;
    }

    .Select--single > .Select-control .Select-value,
    .Select-placeholder {
        line-height: 40px;
    }
}

@media screen and (max-width: 890px) {
    .profile {
        &__label {
            width: 123px;
        }

        &__value {
            width: calc(100% - 123px);
        }
    }
}

@media screen and (max-width: 480px) {
    .profile {
        &__block {
            padding-right: 10px;
        }

        .pay_req__label {
            max-width: 40%;
        }

        .col-small-right-padding {
            padding-right: 10px;
        }
    }
}
