.records {
    &__title {
        font-size: 16px;
        line-height: 18px;
        margin-top: 60px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .placeholder_text {
        margin-top: 20px;
        font-size: 12px;
        padding-bottom: 50px;
        text-transform: uppercase;
    }
}
