.subheader {
    background-color: transparentize($greyish-50, 0.4);

    & > .container > .row > div[class*="col-"] {
        display: flex;
        align-items: center;
        min-height: 80px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .balance {
        font-size: 14px;
        line-height: 1;
        color: #000;
        letter-spacing: -0.5px;

        &__row {
            position: relative;
            padding: 5px 0;
            white-space: nowrap;
        }

        &__title {
            width: 190px;
            display: inline-block;
            white-space: nowrap;
        }

        &__value {
            font-weight: 600;
            letter-spacing: -0.2px;
            white-space: nowrap;
        }
    }

    &__exchange_rate {
        text-align: right;
        margin-left: auto;

        .button {
            vertical-align: middle;
            margin-top: -4px;
            letter-spacing: 0;
        }

        .exchange_rate {
            font-size: 18px;
            font-weight: 600;
            color: $black;
            vertical-align: middle;
            display: inline-block;
            letter-spacing: -0.3px;

            &--with_btn {

                & + .button {
                    margin-left: 20px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .subheader {
        & > .container > .row > div[class*="col-"] {
            flex-wrap: wrap;
        }

        &__exchange_rate {

            .exchange_rate {
                display: none;
            }

            .button {
                margin-top: 2px;
            }
        }

        .usd-part {
            display: none;
        }
    }
}

@media screen and (max-width: 525px) {
    .subheader {
        & > .container > .row > div[class*="col-"] {
            align-items: flex-start;
            flex-direction: column;
        }

        &__exchange_rate {
            .button {
                margin: 10px 0;
            }
        }

        .balance {
            width: 100%;

            &__title {
                width: 170px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .subheader {

        .balance {
            margin-right: -10px;
            width: calc(100% + 10px);

            &__row {
                white-space: normal;
            }
        }

        &__exchange_rate {
            .button {
                float: right;
            }
        }
    }
}
