.button_with_spinner {
    position: relative;
    display: inline-block;

    .spinner {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
    }
}

.button {
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: box-shadow .2s, background-color .2s, color .2s;
    text-decoration: none;
    position: relative;
    border: 0;
    line-height: 40px;
    height: 40px;
    display: inline-block;

    & + .button,
    & + .button_with_spinner {
        margin-left: 20px;
    }

    &__orange {
        background: $pumpkin-orange;
        font-weight: bold;
        color: $white;
        border-radius: $border-radius;
        padding: 0 15px;
        font-size: 14px;
        text-transform: uppercase;

        &:hover,
        &:focus {
            background-color: $pastel-orange;
        }

        &.disabled,
        &:disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        &:active {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
            background-color: $orange;
        }
    }

    &__scarlett-two {
        padding: 0 49px;
        background: $scarlet-two;
        font-weight: bold;
        color: $white;
        border-radius: $border-radius;
        font-size: 14px;
        text-transform: uppercase;

        &:hover,
        &:focus {
            background-color: $darkish-pink;
        }

        &:active {
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
            background-color: $scarlet-two;
        }
    }

    &__link {
        color: $pumpkin-orange;
        font-size: 12px;
        background: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;

        &:hover,
        &:focus {
            color: $pastel-orange;
            text-decoration: underline;
        }

        &:active {
            color: $orange;
        }

        &:disabled {
            opacity: 0.3;
            text-decoration: none;
            cursor: default;
        }

        &--logout {
            padding-left: 25px;
            background: url(../images/logout.svg) no-repeat left center;
            color: $scarlet;
            font-size: 14px;

            &:hover,
            &:focus {
                color: $darkish-pink;
            }

            &:active {
                color: $scarlet-two;
            }
        }

        &--red {
            color: $scarlet-two;

            &:hover,
            &:focus {
                color: $darkish-pink;
            }

            &:active {
                color: $scarlet-two;
            }
        }

        &--locked {
            padding-right: calc(1em + 5px);
            position: relative;

            &:after {
                content: '';
                position: absolute;
                display: block;
                height: 1em;
                width: 1em;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/icons/lock.svg);
                background-size: contain;
            }
        }
    }

    &__hollow {
        background-color: transparent;
        height: 36px;
        line-height: 36px;
        padding: 0 25px;
        border-radius: 4px;
        border: 1px solid rgba(255, 119, 0, 0.38);
        color: $pumpkin-orange;
        font-weight: 600;

        &:active,
        &.active {
            background-color: rgba(255, 119, 0, 0.06);
        }

        &--scarlett-two {
            color: $scarlet-two;
            border: 1px solid rgba(188, 0, 23, 0.38);

            &:active,
            &.active {
                background-color: rgba(188, 0, 23, 0.06);
            }
        }
    }

    &__under-button {
        margin-top: 5px;
    }

    &__fullwide {
        width: 100%;
    }

    &__create {
        padding: 0 30px;
    }

    &__close {
        padding: 0 35px;
    }

    &__side-padding45 {
        padding: 0 45px;
    }

    &__side-padding50 {
        padding: 0 50px;
    }
}

.switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    transition: opacity 0.3s ease;

    &-toggle {
        width: 50px;
        height: 28px;
        border-radius: 15px;
        background-color: $warm-grey-5;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.17);
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            position: absolute;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            top: 2px;
            left: 2px;
            background-color: $scarlet;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
            transition: left 0.3s ease, background-color 0.3s ease;
        }

        &.active {
            &:after {
                left: 24px;
                background-color: $pumpkin-orange;
            }
        }
    }

    &-text {
        position: relative;
    }

    &.disabled {

        .profile__switcher {
            opacity: 0.7;

            &-toggle {
                cursor: default;
            }
        }
    }
}
